body{
  width: 330px;
  margin: 0 auto;
}
.main-container1{
  float: left;
}
.calculator-container {
  height: 41px;
  margin: 8px auto;
}
.calculator-container-4 {
  height: 48px;
}
button.delete{
  border-radius: 4px;
  background-color: #3076b3;
  color: #fff;
  float: left;
  margin-left: 10px;
  text-align: center;
  border: 0;
  height: 37px;
  width: 112px;
  font-size: 15px
}
button.delete-2{
  border-radius: 4px;
  background-color: #3076b3;
  color: #fff;
  float: left;
  margin-left: 10px;
  text-align: center;
  border: 0;
  height: 37px;
  width: 107px;
  font-size: 15px
}
button.block-sign{
  border-radius: 4px;
  background-color:#3076b3;
  color: #fff;
  padding: 28px 18px;
  float: left;
  margin-left: -5px;
  text-align: center;
  border: 0;
  position: relative;
  left: -36px;
}
.calculator-container2 {
  width: 5%;
  height: 11%;
  background-color: grey;
  margin: 0 auto;
}
.container-display {
  overflow: hidden;
  width: 240px;
  margin: 72px auto;
}
.text-display{
  color:#000;
  direction: ltr;
  font-weight: 600;
}
.result-container{
  overflow: hidden;
  height: 55px;
  width: 211px;
  margin: 0px 0px 10px 11px;
  padding: 10px 8px;
  border: 1px solid #2e6da4;
  border-radius: 3px;
  color: #000;
}
.result{
  color:#2e6da4; ;
  text-align: right;
  /*direction: rtl;*/
  font-weight: 600;
  margin-top:20px;
}
.result-heading{
  direction: ltr;
  margin-top: 21px;
}
button.block-2{
  border-radius: 4px;
  background-color: #54a6ed;
  color: #fff;
  height: 37px;
  width: 50px;
  float: left;
  /* line-height: 2; */
  margin-left: 10px;
  text-align: center;
  border: 0;
  font-size: 12px;
}
button.block-1{
  border-radius: 4px;
  background-color: #3076b3;
  color: #fff;
  height: 37px;
  width: 50px;
  float: left;
  /* line-height: 2; */
  margin-left: 10px;
  text-align: center;
  border: 0;
  font-size: 12px;
}
.text-icon {
  font-size: 16px;
  padding: 8px 21px
}
